.claude

dataset*/
logs/
output/
cache/
sft_llava-video_youtube_qa_mc_2_3_m_clue_multi_w_tool_diff_2790.json
benchmarks/
VideoTemp-o3/sft/__pycache__/
Video-o3/SFT/data/sft_data_stage1.json
Video-o3/SFT/data/sft_data_stage2.json
# 评测的时候有agent_runs
agent*

# 数据软连接进来的
VideoTemp-o3/eval/videomme/data/
VideoTemp-o3/sft/data
VideoTemp-o3/rl/data
VideoTemp-o3/sft_videos
VideoTemp-o3/rl_videos
VideoTemp-o3/ActivityNet
VideoTemp-o3/Charades_v1
VideoTemp-o3/LongVILA
VideoTemp-o3/QVhilights
VideoTemp-o3/VidChapters
VideoTemp-o3/Video-R1-data
VideoTemp-o3/cropped_video

# 存测评结果
result
ckpt